
body{
    background-image: url(./image.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

nav{

    font-family: Arial, Helvetica, sans-serif;
    /* background-color: black; */
    color: aliceblue;
    word-spacing: 20px;
    box-sizing: border-box;
    width: 1460px;
    height: 45px;
    margin: 0px 60px;
    padding: 15px 0px;
    


}
.heading{

    padding:30px 15px;
    margin: 15px 40px;



}
.heading1{

    margin: 15px 80px;


}
.heading2{

    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.962);



}
.heading3{

    color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
h1{
    margin: 200px 460px;
    font-size: 55px;
    word-spacing: 5px;
    


}
p{

    color: aliceblue;
    font-size: 20px;
    margin: -170px 375px;
    padding: 0px 80px;
    /* background-color: black; */
    word-spacing: 6px;
    font-family: Arial, Helvetica, sans-serif;


}
.box{

    color: aqua;
}

.box2{

    color: aliceblue;
    border: 1px solid grey;
    width: 200px;
    margin: 210px 470px;
    padding: 12px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 5px;
    font-size: 24px;
    background-color: grey;
    border-radius: 10px;
    
     

}
.box3{

    color: aliceblue;
    border: 1px solid grey;
    width: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: grey;
    font-size: 24px;
    border-radius: 10px;
    margin: -275px 747px;
    padding: 12px 10px;


}
.scale{

    color: aliceblue;
    word-spacing: 4px;
    border: 2px solid grey;
    background-color: rgb(95, 95, 95);
    margin: 330px 385px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    width: 570px;
    height: 12px;



}
button{

    height: 27px;
    width: 27px;
    border-radius: 100px;
    margin: 3px 0px;
    background-color: grey;
    color: white;
    font-weight: 600;
}
.pointer{

    height: 27px;
    width: 27px;
    border-radius: 100px;
    margin: 0px 6px;
    background-color: grey;
    color: white;
    font-weight: 600;





}
img{

    height: 30px;
    width: 30px;
    display: block;
    padding: 0px 30px;



    
    
    
    


}
.logo{

    display: flex;
    margin: -290px 500px;
    


}
.d{

    color: aqua;
    font-size: 50px;
    font-style: italic;
    margin: 0px 0px;
    padding: 0px 10px;
}










